/data/mfcc-heart.npz
/data/mfcc-flattened.npz
/data/mfcc-murmur-normal.npz
/data/mfcc.npz
/data/mfe.npz
/data/x_train.npy
/data/y_train.npy
/data/mfe-flattened.npz
/data/lmfe.npz
/data/lmfe_int8.npz
/data/mfcc_int8.npz
/data/mfe_int8.npz
/data/lmfe_noisy.npz
/data/mfcc_noisy.npz
/data/mfe_noisy.npz
/data/mfcc_test.npz
/data/mfe_test.npz
/data/lmfe_test.npz
/data/lmfe_2_test.npz
/data/mfcc_2_test.npz
/data/mfe_2_test.npz

